.label{
    font-size: 20px;
    font-family:   'Tahoma', Geneva, Verdana, sans-serif;
    color:#1A1A1A ;
    font-weight: bold;
    
}

.err{
    color: #416c97;
    font-style: italic;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    font-size: 17px;
}

.input_form{
    border: none;
    background-color:#F7F9FC;
    color: #1A1A1A;
    font-family:   'Tahoma', Geneva, Verdana, sans-serif;
    box-shadow: 0 0 7px #416c97 ;
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 7px;
}

.button{
    color:#1A1A1A;
    background-color:#a4c2df;
    border: none;
    font-size: 1.5rem;
    box-shadow: 0 0 5px #2E567F;
    width: 45%;
    border-radius: 10px;
    margin:9px;
    padding: 4px;
    font-family:   'Tahoma', Geneva, Verdana, sans-serif;

}
.button:hover {
    background-color: #1e3a56; 
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F7F9FC;
    height: 100vh; 
    width: 100%; 
}
.form_login{
    padding: 20px;
    border-radius: 10px;
    font-size: 2.2rem;
    box-shadow: 0 0 7px #2E567F;
    

}
.div_input{
    margin:9px;
}