html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.div_main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F7F9FC;
    padding: 10px;
}


.header{
    font-size: 40px;
    /* align-items: center; */
    justify-content: center;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#2E567F ;margin-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
}

.form_Registration{
    display: flex;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px #2E567F;


}

.label{
    font-size: 13px;
    font-family:   'Tahoma', Geneva, Verdana, sans-serif;
    color:#1A1A1A ;
    font-weight: bold;
    margin-bottom: 5px;
}
.input_form{
    border: none;
    background-color:#F7F9FC;
    color: #1A1A1A;
    font-family:   'Tahoma', Geneva, Verdana, sans-serif;
    box-shadow: 0 0 5px #416c97 ;
    font-size: 12px; 
    border-radius: 10px;
    padding: 7px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;

}


.button {
    background-color: #2E567F; 
    color: white;              
    width: 100%;              
    padding: 12px 0;          
    
    border: none; 
    border-radius: 8px;       
    font-size: 16px;         
    font-weight: bold;         
    cursor: pointer;
    margin-top: 15px;          
    
    box-shadow: none; 
    transition: background 0.3s; 
}


.button:hover {
    background-color: #1e3a56; 
}


.err{
    color: #416c97;
    font-style: italic;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    font-size: 12px;
    min-height: 18px;
    display: block;
    margin-bottom: 5px;
}
.div_{
    min-width: 400px;
    margin: 4px;
    padding: 10px;
}
.div_2 {
    width: 100%;
    padding-top: 27px;
    margin-top: auto; 
    display: flex;
    justify-content: center;
}